body{
	background-color: #999999;
}
#contact{
	width: 600px;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
}
#a1{
	width: 100%;
	height: 30px;
	margin-top: 80px;
}
#a2{
	width: 100%;
	height: 50px;
	margin-top: 40px;
}
#a3{
	width: 100%;
	height: 100px;
}
#footer{
	width: 270px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}