#container{
	width:960px;
	margin-right:auto;
	margin-left:auto;
}
#img{
	margin-left:auto;
	margin-right:auto;
	width:125px;
}
#ps1{
	margin-left: 678px;
	margin-top: -360px;
	margin-bottom: 180px;
}
#word{
	width:80px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
}
#introduce{
	padding-top: 5px;
	width: 250px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}
#footer{
	width: 270px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	margin-top: 50px;
}
